.body{
    height: 100%;
   
}

.navbarr {
    width: 100%;
    padding: 0;
    position: fixed;
  


}




#loginn {
    margin-left: auto;
}

.nav-link,
.navbar-brand {
    font-weight: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff !important;
    padding-left: 30px;
    letter-spacing: 2px;
}

.nav-link:hover {
    background-color: rgb(124, 10, 10);
    border-radius: 7px;
}

.navbar-toggler {
    background-color: azure;
    border-color: #fff;
}


.head{
    color: #d6290b;
    font-weight: bold;
    font-family: 'Rowdies', cursive;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    background-color: rgb(232, 211, 211);
    margin-top: 20%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    border-radius: 30%;
  
    border: solid black 5px;
    text-shadow: 2px 2px #000;
    text-align: center;


}

.homebanner{
    background-image:url('https://images.unsplash.com/photo-1626814026160-2237a95fc5a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    width: 100%;
    height: 100vh;
    padding-top: 20%;
}
